body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Reduced padding for better spacing */
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 1700px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    box-sizing: border-box; /* Include padding in the box model */
}

h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.2em; /* Reduced font size */
    text-align: center; /* Center the heading */
}

.top-bar {
    display: flex; /* Ensures horizontal alignment */
    align-items: center; /* Vertically centers the items */
    gap: 10px; /* Reduced gap between items */
    margin-bottom: 10px;
    justify-content: center; /* Center the top bar */
    flex-wrap: wrap; /* Wrap elements to new line if necessary */
}

#voiceBtn, #search-button, #show-location, #toggle-marker {
    padding: 5px 10px; /* Adjust padding for button size */
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em; /* Reduced font size */
}

#voiceBtn:hover, #search-button:hover, #show-location:hover, #toggle-marker:hover {
    background-color: #0056b3;
}

#search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

#search-input {
    padding: 5px;
    margin-right: 5px;
    width: 200px; /* Adjust width as needed */
}

#suggestion-box {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    width: 200px; /* Matches width of the input field */
    top: 100%; 
    left: 0;
    z-index: 1000;
    border-radius: 0 0 4px 4px;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #eee;
}

#map {
    flex: 1; /* Make map fill remaining space */
    width: 100%;
    height: calc(100vh - 70px); /* Fill remaining height minus the space for header and top-bar */
    border: none; /* Remove border */
    border-radius: 0; /* Remove border radius */
    box-shadow: none; /* Remove box shadow */
}
